.irs-min, .irs-max {
    color: #FFFFFF;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.irs-bar {
    height: 8px;
    top: 25px;
    border-top: 1px solid #428bca;
    border-bottom: 1px solid #428bca;
    background: #DCDDDE;
}

.irs-bar-edge {
    height: 8px;
    top: 25px;
    width: 14px;
    border: 1px solid #428bca;
    border-right: 0;
    background: #DCDDDE;
    border-radius: 16px 0 0 16px;
    -moz-border-radius: 16px 0 0 16px;
}

#blank {
       margin-top: 21px;
        margin-bottom: 21px;
        border: 0;
        border-top: 1px solid #596a7b;
}

.footer_p {
        margin-top: 50px;
        padding-top: 21px;
        padding-bottom: 21px;
         border: 0;
        border-top: 1px solid #596a7b;
}

/*#div1 {
        background-color: #337AB7;
        width: 100%;
        height: 45px;
}*/
.my_predictive_btn, .my_spelling_btn, .my_back_btn {
        border-color: #f5f5f5;
        margin: 2px 10px 2px 2px;
        float: left;
        min-width: 75px;
        height: 38px;
}
.my_predictive_btn {
        color: #ffffff;
        background-color: #337ab7;
        
}

.my_spelling_btn {
        color: #ffffff;
        background-color: rgba(217, 83, 79, 0.81);
}

.my_back_btn {
        color: #ffffff;
        background-color:#E8AC57;
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover
{
        color: #ffffff;
        background-color:#49525A;
        border-color: #f5f5f5;
        margin: 2px 10px 2px 2px;
}
.line_header{
        float: left;
        width: 110px;
        padding-top: 5px;
}

.button_line {
    margin-bottom: 12px;
    height: 40px;
}

html,body{
    height: 100%
}
